@mixin btn($font-size, $bg-color, $color, $padding-y, $padding-x) {
  text-decoration: none;
  text-align: center;
  font-size: $font-size;
  background-color: $bg-color;
  color: $color;
  padding-top: $padding-y;
  padding-bottom: $padding-y;
  padding-left: $padding-x;
  padding-right: $padding-x;
}

@mixin btn-hover($bg-color, $color, $f-weight) {
  background-color: $bg-color;
  color: $color;
  font-weight: $f-weight;
}

@mixin border($size, $color) {
  border: $size solid $color;
}

/*@mixin shadow {
  box-shadow: 4px 4px 10px $shadow-light;
}*/

/*@mixin shadow-text {
  text-shadow: 5px 5px 10px $shadow-light;
}*/

@mixin transition {
  transition: all 150ms ease-in-out;
}

@mixin flex-between {
  display: flex;
  align-items: $center;
  justify-content: $between;
}
