* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font, sans-serif;
  overflow-x: hidden;
  background-color: $bg-color;
  color: $primary-color;
}

ul {
  padding: $pd-0;
}

ul li {
  list-style-type: none;
}

p {
  margin: $pd-half $pd-0;
}

.container {
  padding: $pd-8-pc $pd-5-pc;
}
