/*colors*/
$primary-color: #232536;
$menu-bg: #212330;
$bg-color: #e5e5e5;
$black: #000000;
$yellow: #ffd050;
$yellow-active: #fcc121;
$light-yellow: #fbf6ea;
$dark-grey: #4c4c4c;
$md-grey: #6d6e76;
$grey-border: #d4d4d4;
$light-grey: #f4f4f4;
$purple: #592ea9;
$lavander: #f4f0f8;
$white: #ffffff;

/*fonts*/
$primary-font: "Inter";
$bold-font: "Sen";

/*padding,margin,etc*/
$pd-0: 0;

/*padding,margin,etc in em*/
$pd-half: 0.5em;
$pd-1: 1em;
$pd-1half: 1.5em;
$pd-2: 2em;
$pd-3: 3em;

/*padding,margin,etc in px*/
$pd-5: 5px;
$pd-6: 6px;
$pd-10: 10px;
$pd-20: 20px;

/*padding,margin,etc in %*/
$pd-3-pc: 3%;
$pd-4-pc: 4%;
$pd-5-pc: 5%;
$pd-6-pc: 6%;
$pd-7-pc: 7%;
$pd-8-pc: 8%;
$pd-9-pc: 9%;
$pd-10-pc: 10%;
$pd-12-pc: 12%;
$pd-15-pc: 15%;
$pd-16-pc: 16%;

/*width*/
$w-100: 100%;
$w-100-v: 100vw;
$w-90: 90%;
$w-80: 80%;
$w-75: 75%;
$w-70: 70%;
$w-60: 60%;
$w-55: 55%;
$w-50: 50%;
$w-40: 40%;
$w-35: 35%;
$w-30: 30%;
$w-23: 23%;
$w-25: 25%;

$w--30: 30px;

/*font-weight*/
$f-400: 400;
$f-500: 500;
$f-600: 600;
$f-700: 700;
$f-800: 800;
$f-900: 900;

/*line-height*/
$l-20: 20px;
$l-24: 24px;
$l-28: 28px;
$l-32: 32px;
$l-40: 40px;
$l-48: 48px;
$l-120: 120%;

/*font-size*/
$fz-xxs: 12px;
$fz-xs: 14px;
$fz-s: 16px;
$fz-standart: 18px;
$fz-m: 20px;
$fz-m-pl: 28px;
$fz-l: 32px;
$fz-l-pl: 36px;
$fz-xl: 40px;
$fz-xxl: 45px;
$fz-xxl: 56px;

/*justify,align*/
$between: space-between;
$around: space-around;
$center: center;
$start: flex-start;

/*breakpoints*/
$xl: 1200px;
$l: 992px;
$m: 680px;
$s: 576px;
$xs: 376px;

/*arrow etc*/
$right-arrow: "\0020 >"; /*>*/
$vert-line: "|";
$space: "  ";
